<style>
body, #ban {
	background-color: #281980;
}
#header {
	background: url("http://raw.githubusercontent.com/Tokilin/Neopets/refs/heads/main/FF%20Theme/FF%20Banner.png") no-repeat;
	height: 177px;
}
.user {
	padding-right: 30px;
	background: url("http://raw.githubusercontent.com/Tokilin/Neopets/refs/heads/main/FF%20Theme/BackgroundUser.png") no-repeat transparent;
}
#template_nav, #nst {
	padding-top: 83px;
}
#nst {
	padding-right: 45px;
}
ul.dropdown {
	color: #000000;
	border: solid 4px #FFFFFF;
	background: #2E1A9D;
}
#main {
	border: none;
	background-color: transparent;
}
.sidebar {
	background: url("http://raw.githubusercontent.com/Tokilin/Neopets/refs/heads/main/FF%20Theme/BGSide.png") top left repeat transparent;
}
.sidebar, .sidebarTable, .sidebarHeader, .sidebarModule, .neofriend, .activePetInfo, .activePetInfo td, .activePet {
	color: #FFFFFF;
	border: none;
	background-color: transparent;
}
.content {
	color: #FFFFFF;
	text-align: center;
	background: url("http://raw.githubusercontent.com/Tokilin/Neopets/refs/heads/main/FF%20Theme/BGContent.png") top left repeat transparent;
}
.content a, .content td {
	color: #FFFFFF;
	text-align: center;
}
.content td img {
	border: none;
	background: url("http://raw.githubusercontent.com/Tokilin/Neopets/refs/heads/main/FF%20Theme/BGUL.png") center no-repeat transparent;
}
#footer {
	background: url("http://raw.githubusercontent.com/Tokilin/Neopets/refs/heads/main/FF%20Theme/BGFooter.png") top center no-repeat transparent;
}
.footernifty {
	height: 0px;
}
</style>
