<style> // *{}
body, #ban {
	background: linear-gradient(0deg, #000000 0%, #2E1A9D 45%);
}
#header {
	background: url(https://raw.githubusercontent.com/Tokilin/Neopets/refs/heads/main/FF%20Theme/FF%20Banner.png) no-repeat;
	height: 177px;
}
.user {
	padding-right: 30px;
	background-color: #2E1A9D;
	border-image: url(https://raw.githubusercontent.com/Tokilin/Neopets/refs/heads/main/FF%20Theme/Border.png) 10 / 10px / 3px stretch;
}
#template_nav, #nst {
	padding-top: 83px;
}
#nst {
	padding-right: 45px;
}
ul.dropdown {
	color: #000000;
	background: #281787;
	border-image: url(https://raw.githubusercontent.com/Tokilin/Neopets/refs/heads/main/FF%20Theme/Border.png) 10 / 10px / 3px stretch;
}
#main {
	border: none;
	background-color: transparent;
}
.sidebar {
	background-color: #2E1A9D;
	border-image: url(https://raw.githubusercontent.com/Tokilin/Neopets/refs/heads/main/FF%20Theme/Border.png) 10 / 10px / 0px stretch;
}
.sidebarTable, .sidebarHeader, .sidebarModule, .neofriend, .activePetInfo, .activePet{
	border: none;
	background-color: transparent;
}
.content {
	color: #FFFFFF;
	text-align: center;
	background-color: #2E1A9D;
	border-image: url(https://raw.githubusercontent.com/Tokilin/Neopets/refs/heads/main/FF%20Theme/Border.png) 10 / 10px / 0px stretch;
}
#footer {
	display: none;
}
</style>
